<!-- Right Content -->
<section class="pagecontent clearfix">
    <div class="content-wrapper">
        <!--content top-->
        <form name="formAnnouncement" ng-if="canPost">
            <div class="top-div announcement">
          <span class="txt-count">(
          <span id="rem_count">{{200-announcement.Announcement.subject.length}}</span>/200 characters left)</span>
                <input class="add-topic" type="text" placeholder="Subject" ng-maxlength=200 maxlength="200"
                       ng-model="announcement.Announcement.subject" ng-trim="false" ng-required="true">

                <div class="ques-box">
                    <textarea class="txt-area" placeholder="Type announcement text here…"
                              ng-model="announcement.Announcement.body" ng-required="true"></textarea>

                    <div class="att-box clearfix">
                        <div class="disc-room f-left">
                            <div class="attachmentbox">
                  <span class="btn btn-success fileinput-button changepicsbtn attach-mail">
                  <span class="att-txt">Add files 
                  <span class="att-size">(Max 100 mb)</span></span> 
                  <input id="fileupload" type="file" name="files[]" class="i_file"/></span>

                                <div id="files" class="files"></div>
                            </div>
                        </div>
                        <div class="f-right">
                            <a class="follow">Cancel</a>
                            <button type="submit" class="sub-btn chk-file" ng-click="createAnnouncement()"
                                    ng-disabled="formAnnouncement.$invalid">Create
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--content list-->
        <div class="announcement-outer">
            <div class="middivouter">
                <div infinite-scroll="myPagingFunction()">

                    <div class="listbox" ng-repeat="announcement in announcements">
                        <div class="imgbox">
                            <a>
                                <img src="images/follow1.jpg"/>
                            </a>
                        </div>
                        <div class="userinfo">
                            <h4>{{announcement.Announcement.subject}}
                <span>
                  <a href="profile-view.htm">by {{announcement.AppUser.fname}} {{announcement.AppUser.lname}}</a>
                </span></h4>

                            <div class="datetime clearfix"><span ng-show="announcement.Announcement.filename"
                                                                 class="attach-icon"></span>{{announcement.Announcement.created}}
                            </div>

                        </div>
                        <p>{{announcement.Announcement.body}}</p>

                        <p class="cl">
                            <a class="dlfile" ng-show="announcement.Announcement.filename">{{announcement.Announcement.filename}}.{{announcement.Announcement.filesize}}</a>
                            <a class="down-icon" ng-show="announcement.Announcement.filename"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
