<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <base href="/"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/jquery-ui-latest.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/plugins.css">
    <!-- endbuild -->
</head>
<body ng-app="uiApp" class="bg-color">
<div ng-controller="MainController">


    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Header -->
    <header>
        <section class="clearfix header">
            <!-- Logo-->
            <div class="logo"><a href="javascript:void(0)"><img src="images/logo.png" class="f-left" alt="logo"></a>
            </div>

            <div ng-if="isLoggedIn" ng-include="'/views/home/top-right-header.html'"></div>

        </section>
    </header>
    <div class="container calen">
        <!-- Left Navigation -->


        <div ng-if="isLoggedIn" ng-include="'/views/home/left-navbar.html'"></div>

        <!-- Right side Content  -->
        <section class="rightwrapper">
            <div ui-view></div>
        </section>

    </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/others.js -->
<script src="scripts/others/jquery-ui-1.10.3.custom.js"></script>
<script src="scripts/others/jquery.autosize.min.js"></script>
<script src="scripts/others/jquery.slimscroll.min.js"></script>
<script src="scripts/others/tooltip.min.js"></script>
<script src="scripts/others/chosen.jquery.min.js"></script>
<script src="scripts/others/jquery.mousewheel.min.js"></script>
<script src="scripts/others/vertical.slider.standard.js"></script>
<script src="scripts/others/core.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/globalservice.js"></script>
<script src="scripts/services/userservice.js"></script>
<script src="scripts/services/roomservice.js"></script>
<script src="scripts/controllers/home/login.js"></script>
<script src="scripts/controllers/rooms/announcement.js"></script>
<script src="scripts/controllers/rooms/myrooms.js"></script>
<script src="scripts/services/notificationservice.js"></script>
<!-- endbuild -->

</body>
</html>
