#tinyeditor {border:none; margin:0; padding:0; font-size:14px; width: 400px; height: 200px; resize:none;}
.tinyeditor { padding:0 1px 1px; font-size:12px;}
.tinyeditor iframe {border:none; overflow-x:hidden; }
.tinyeditor-header { padding-top:5px}
.tinyeditor-header select {float:left; margin-top:5px}
.tinyeditor-font {background:#D8D8D8;border-radius: 3px;line-height: 25px;}
.tinyeditor-size {margin:0 3px}
.tinyeditor-style {margin-right:12px}
.tinyeditor-divider {float:left; width:1px; height:30px; background:#ccc}
.tinyeditor-control {background: #D8D8D8 url("../images/icons.png");border-radius: 3px;cursor: pointer;float: left;height: 30px;margin-right: 5px;width: 34px;}
.tinyeditor-control:hover {background-color:#fff; background-position:30px 0}
.tinyeditor-footer {display:none;}
.toggle {float:left; background:url(../images/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(../images/resize.gif) 15px 15px no-repeat; cursor:s-resize; resize:none;}
.tinyeditor-header .chosen-container-single .chosen-single{border:none;width:115px;background:url(../images/dd-arr.png)  no-repeat 90% center #D8D8D8;height:20px;line-height:20px;padding:5px 0;}
.tinyeditor-header .chosen-container{display:inline-block;width:115px !important;}
.tinyeditor-header .chosen-search{display:none;}
.tinyeditor-header .chosen-container-single .chosen-drop{border:1px solid #ccc;}
#editor {cursor:text; margin:10px;  }