<!-- Right Content -->
<section class="pagecontent clearfix">
  <div class="library-wrapper">
    <div infinite-scroll="myPagingFunction()">
    <ul class="tile-lst">
      <li class="code-class">
        <div class="newjoinbox">
          <a class="newjoin" ng-show="showJoin" ng-click="showJoin=false">Join New Classroom</a>

          <div class="accessclass" ng-show="!showJoin">
            <input type="text" class="access" name="search" placeholder="Enter Access Code"
                   ng-model="accessCode">
            <a ng-click="joinClassroom()" class="sub-btn">Join Classroom</a>
          </div>
        </div>
      </li>

        <li ng-repeat="classroom in classrooms">
          <!--todo:disable link if restricted-->
          <a ui-sref="app.rooms.announcements({ roomId:{{classroom.Classroom.id}} })">
            <div class="lock-state" ng-if="classroom.UsersClassroom.is_restricted">
              <p>! You do not have access to this class. Please contact the owner</p>
            </div>
            <div class="class-head" ng-if="classroom.UsersClassroom.is_teaching">My Class</div>
            <img src="images/lock_icon.png" class="lock" ng-if="classroom.Classroom.is_private">

            <div class="doc-top">
              <p class="subject">{{classroom.Classroom.title}} {{classroom.Classroom.id}}</p>

              <div>by</div>
              <div><span class="online"></span>{{classroom.Classroom.Educator}}</div>
              <div class="totalstudent">({{classroom.Classroom.users_classroom_count}} Students)</div>
            </div>

            <p class="doc-end"> {{classroom.Classroom.Campus.name || 'Not Available'}} </p>
          </a>
        </li>

    </ul>
    </div>
  </div>
</section>