<section class="pagesubnav">
  <div class="clearfix">
    <ul class="left-subnav clearfix">
      <li><a ui-sref="app.roomsDash.myroom" class="active">My Classrooms</a>
      </li>
      <!--<li><a ui-sref="app.roomsDash.staffroom">Staffroom</a>-->
      <!--</li>-->
      <!--<li><a ui-sref="app.roomsDash.archived">Archived Classrooms</a>-->
      <!--</li>-->
    </ul>
    <a href="" ng-click="open()" class="sub-btn" ng-if="canCreate" >Create New Classroom</a>
  </div>
</section>
<div ui-view></div>
