<!--popup-->
<div id="create-assign" class="create-popup ">
  <div class="pop-wind clearfix">
    <div class="pop-head clearfix">
      <span>Create New Assignment</span>
      <a class="close-link" ng-click="closeThisDialog()">
                <span class="icon-cross">
                </span></a>
    </div>
    <div class="pop-content clearfix">
      <div class="create-assign">
        <form class="form-data  create-popup">
          <p>Please select type of assignment you want to create</p>

          <div class="tabpages">
            <ul class="upload-tab">
              <li><a class="tab " ng-click="vm.typeIsSubjective=true"
                     ng-class="{'active' :vm.typeIsSubjective}">Subjective</a>
              </li>
              <li><a class="tab" ng-click="vm.typeIsSubjective=false"
                     ng-class="{'active' :!vm.typeIsSubjective}">Quiz</a>
              </li>
            </ul>
            <div id="sub" class="tab-contt" ng-if="vm.typeIsSubjective">
              <div class="clearfix">
                <div class="left-pop">
                  <label>Topic of the assignment</label>
                  <input type="text" class="pop-input" ng-model="vm.topic">

                  <label>Description</label>
                  <textarea class="pop-txtarea" ng-model="vm.description"></textarea>
                  <label>Grading Policy</label>
                  <textarea class="pop-txtarea" ng-model="vm.gradingPolicy"></textarea>
                  <label>Grading Type</label>

                  <div class="radio-btn">
                    <input id="Marks" type="radio" name="course" value="marked" ng-model="vm.gradingType">
                    <label for="Marks" class="radio-lbl">Marked</label>
                    <input id="Grades" type="radio" name="course" value="graded" ng-model="vm.gradingType">
                    <label for="Grades" class="radio-lbl">Graded</label>
                  </div>
                  <div class="marks-input" ng-if="vm.gradingType=='marked'">
                    <label>Enter Maximum Marks</label>
                    <input type="text" class="pop-input" value="" pattern="[0-9]{0,3}"
                           tooltip="Should be numbers.Max 3 numbers" ng-model="vm.totalMarks">
                  </div>
                  <label>Attachments</label>

                  <!--<div class="custom-upload" id="test0">-->
                  <input type="file" id="fileupload" name="files[]">

                  <!--<div class="file-upload">-->
                  <!--<span class="file-txt">Select</span>-->
                  <!--<input disabled="disabled" value="No File Chosen">-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
                <div class="right-pop">
                  <div class="time-bx">
                    <div class="time-check">
                      <label>Due Date</label>
                    </div>
                    <input type="datetime-local" ng-model="vm.dueDate">

                  </div>
                </div>
              </div>
              <div class="submit-btn">
                <input type="submit" class="sub-btn" value="Publish" ng-click="createSubjectiveAssignment()">
              </div>
            </div>
            <div id="quiz" class="tab-contt" ng-if="!vm.typeIsSubjective">
              <div class="clearfix">
                <div class="left-pop">
                  <label>Topic of the quiz</label>
                  <input type="text" class="pop-input" ng-model="vm.topic">
                  <label>Quiz Description</label>
                  <textarea class="pop-txtarea" ng-model="vm.description"></textarea>
                  <label>Grading Policy</label>
                  <textarea class="pop-txtarea" ng-model="vm.gradingPolicy"></textarea>
                  <label>Total Time</label>

                  <input type="number" min="0" max="5" class="pop-dura" ng-model="vm.hours">

                  Hours
                  <input type="number" min="0" max="60" class="pop-dura" ng-model="vm.minutes">
                  Minutes
                  <label>Attachments</label>

                  <!--<div class="custom-upload" id="test0">-->
                    <input type="file" id="fileupload" name="files[]">

                    <!--<div class="file-upload">-->
                      <!--<span class="file-txt">Select</span>-->
                      <!--<input disabled="disabled" value="No File Chosen">-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
                <div class="right-pop">
                  <div class="time-bx">
                    <div class="time-check">
                      <label>Due Date</label>
                    </div>
                    <input type="datetime-local" ng-model="vm.dueDate">
                  </div>

                </div>
              </div>
              <div class="submit-btn">
                <input type="button" class="sub-btn" value="Create Quiz" id="quiz-link" ng-click="createQuizDialog()">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
