<section class="pagecontent clearfix">
<div class="library-wrapper library">
<div class="topbuttons">
  <a href="javascript:void(0)" class="follow" id="upload-dlink">Upload</a>
  <!--popup-->
  <div id="upload-dialog" class="create-popup">
    <div class="pop-wind clearfix">
      <div class="pop-head clearfix">
        <span>Upload</span>
        <a class="close-link" href="#">
          <span class="icon-cross"></span></a>
      </div>
      <div class="pop-content clearfix">
        <form class="form-data">
          <div class="upload-form clearfix">
            <!-- form 1 -->
            <div id="form1">
              <p class="up-heading"> Step 1 of 2: Select a topic</p>

              <div class="select-topic">
                <!-- <a href="javascript:void(0)" class="sel-topic">Select Topic</a>
                 <div class="seltop-dd">
                   <a href="javascript:void(0)" class="new-topic">Create New Topic</a>
                   <ul>
                     <li><a href="javascript:void(0)">Topic 1</a>
                     </li>
                     <li><a href="javascript:void(0)">Topic 2</a>
                     </li>
                     <li><a href="javascript:void(0)">Topic 3</a>
                     </li>
                     <li><a href="javascript:void(0)">Topic 4</a>
                     </li>
                   </ul>
                 </div> -->
                <select class="chosen-select select_option" id="topic-dd">
                  <option class="new-topic">Create New Topic</option>
                  <option>Topic 2</option>
                  <option>Topic 3</option>
                  <option>Topic 4</option>
                </select>
                <input type="text" class="pop-input" id="enter-topic" placeholder="Enter Topic Name"/>

                <div class="nav-btn">
                  <input type="button" class="follow active goto2" value="Next">
                </div>
              </div>
            </div>
            <!-- form 2 -->
            <div id="form2">
              <p class="up-heading">Step 2 of 2</p>

              <div class="select-topic">
                <p class="sub-sel">Topic Name:<span> Topic 1</span></p>

                <div class="tabpages">
                  <ul class="upload-tab">
                    <li><a href="#file1" class="tab active">Upload file</a>
                    </li>
                    <li><a href="#link1" class="tab">Upload link</a>
                    </li>
                  </ul>
                  <div id="file1" class="tab-contt">
                    <p>Select file to upload</p>

                    <div class="upload-files">
                      <div class="add-upload clearfix">
                        <div class="custom-upload" id="test0">
                          <input type="file" name="files[]">

                          <div class="file-upload">
                            <span class="file-txt">Select file</span>
                            <input disabled="disabled" value="No File Chosen">
                          </div>
                          <div class="size-txt">(Max. 00 mb)</div>
                        </div>
                      </div>
                      <span class="add-more tooltip" title="Add File"></span>
                    </div>
                    <div class="error-txt">
                      <p>! File exceeded max. limit. </p>

                      <p>Select another file or reduce size and upload again</p>
                    </div>
                  </div>
                  <div id="link1" class="tab-contt">
                    <p>Paste link here</p>

                    <div class="upload-links">
                      <div class="add-links">
                        <input type="text" class="pop-input" placeholder="Upload links">
                      </div>
                    </div>
                    <span class="add-link tooltip" title="Add Link"></span>
                  </div>
                </div>
                <div class="nav-btn">
                  <input type="button" class="follow backto1" value="Oops !">
                  <input type="button" class="follow active" value="Save">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div infinite-scroll="updatePage()">
<div class="attach-doc classlibrary stud-pnl" ng-repeat="topic in topics">
<div class="doc-heading clearfix">
  <input type="text" class="doc-input" value="{{topic.Topic.name}}" maxlength="70" readonly>

  <div class="lib-right">
    <a href="javascript:void(0)" class="lib-edit tooltip" title="Edit Topic"></a>
    <a href="javascript:void(0)" class="lib-delete tooltip" title="Delete"></a>
    <a href="javascript:void(0)" class="lib-download tooltip" title="Download"></a>

    <div class="click-lib click-icon tooltip" title="Click to slide"></div>
  </div>
</div>
<div class="contentblock">
<p class="classlibraryhd" ng-if="topic.Documents.length">Documents </p>
<ul class="doc-list">
  <li ng-repeat="document in topic.Documents">
    <a ng-click="deleteFile(topic,$index)" class="del-lib"></a>
    <a href="{{document.file_path}}" rel="prettyPhoto[iframes]">
      <div class="doc-top">
        <p>{{showFileName(document.filename)}}</p>
      </div>
    </a>

    <div class="doc-end clearfix">
      <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><img src="images/word_icon.png" class="m3-0"
                                                                             ng-if="document.mime_type== 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ">
        <img src="images/doc-icon.png" class="m3-0" ng-if="document.mime_type=='application/pdf' "></a>

      <p class="f-right">Posted<br>
        {{document.created }}</p>
    </div>
  </li>

</ul>

<p class="classlibraryhd" ng-if="topic.Pictures.length">Pictures</p>
<ul class="doc-list imglist">
  <li ng-repeat="picture in topic.Pictures">
    <div class="img-wrapper">
      <a ng-click="deletePicture(topic,$index)" class="del-lib"></a>
      <a href="images/classroom/big.png" rel="prettyPhoto[pp_gal]">

        <img ng-src="{{picture.thumbnail_path}}">

        <div class="piccaption clearfix">Posted <br>
          {{picture.created}}
        </div>
      </a>
    </div>
  </li>

  <!--<li>-->
  <!--<a href="javascript:void(0)" class="del-lib"></a>-->
  <!--<a href="images/classroom/library-img4.jpg" rel="prettyPhoto[pp_gal]">-->
  <!--<img src="images/classroom/library-img4.jpg">-->

  <!--<div class="piccaption clearfix">Posted <br>-->
  <!--08.02.13-->
  <!--</div>-->
  <!--</a>-->
  <!--</li>-->
</ul>
<p class="classlibraryhd">Presentations</p>
<ul class="doc-list">
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Document</p>

      <p>Subject</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/ppt_icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Document</p>

      <p>Subject</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/ppt_icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Document</p>

      <p>Subject</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/ppt_icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Document</p>

      <p>Subject</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/ppt_icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
</ul>
<p class="classlibraryhd">Links</p>
<ul class="doc-list link-lst">
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Go To Link</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/link-icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Go To Link</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/link-icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
  <li>
    <a href="javascript:void(0)" class="del-lib"></a>

    <div class="doc-top">
      <p>Go To Link</p>
    </div>
    <div class="doc-end clearfix">
      <img src="images/link-icon.png" class="m3-0">

      <p class="f-right">Posted<br>
        12.08.13</p>
    </div>
  </li>
</ul>
<p class="classlibraryhd">Video</p>
<ul class="doc-list imglist">
  <li>
    <div class="img-wrapper">
      <a href="javascript:void(0)" class="del-lib"></a>
      <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
        <img src="images/classroom/library-video1.jpg">

        <div class="piccaption clearfix">Posted <br>
          08.02.13
        </div>
      </a>
    </div>
  </li>
  <li>
    <div class="img-wrapper">
      <a href="javascript:void(0)" class="del-lib"></a>
      <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
        <img src="images/classroom/library-video2.jpg">

        <div class="piccaption clearfix">Posted <br>
          08.02.13
        </div>
      </a>
    </div>
  </li>
  <li>
    <div class="img-wrapper">
      <a href="javascript:void(0)" class="del-lib"></a>
      <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
        <img src="images/classroom/library-video3.jpg">

        <div class="piccaption clearfix">Posted <br>
          08.02.13
        </div>
      </a>
    </div>
  </li>
  <li>
    <div class="img-wrapper">
      <a href="javascript:void(0)" class="del-lib"></a>
      <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
        <img src="images/classroom/library-video4.jpg">

        <div class="piccaption clearfix">Posted <br>
          08.02.13
        </div>
      </a>
    </div>
  </li>
  <li>
    <div class="img-wrapper">
      <a href="javascript:void(0)" class="del-lib"></a>
      <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
        <img src="images/classroom/library-video5.jpg">

        <div class="piccaption clearfix">Posted <br>
          08.02.13
        </div>
      </a>
    </div>
  </li>
</ul>
</div>
</div>
</div>
</div>
</section>