<section class="pagecontent clearfix">
  <div class="library-wrapper library">
    <div class="topbuttons">
      <a ng-click="showStep1()" class="follow" ng-if="canUpload" href="">Upload</a>
      <!--popup-->
    </div>
    <div class="clear"></div>
    <div infinite-scroll="updatePage()">
      <div class="attach-doc classlibrary stud-pnl" ng-repeat="topic in topics">
        <div class="doc-heading clearfix">
          <input type="text" class="doc-input" value="{{topic.Topic.name}}" maxlength="70"
                 ng-readonly="!editTopicName" ng-blur="editTopicName=false;editTopic(topic.Topic.name,topic.Topic.id);">

          <div class="lib-right">
            <a ng-click="editTopicName=true" class="lib-edit" tooltip="Edit Topic"></a>
            <a ng-click="deleteTopic($index)" class="lib-delete" tooltip="Delete"></a>
            <!--<a href="javascript:void(0)" class="lib-download" tooltip="Download"></a>-->

            <div class="click-lib click-icon " tooltip="Click to slide" ng-click="displayContent($index)"
                 ng-class="{'active' :topic.showContent}"></div>
          </div>
        </div>
        <div ng-class="{'contentblock' :!topic.showContent}">
          <p class="classlibraryhd" ng-if="topic.Documents.length">Documents </p>
          <ul class="doc-list">
            <li ng-repeat="document in topic.Documents">
              <a ng-click="deleteDoc(topic,$index)" class="del-lib"></a>
              <a ng-href="{{document.file_path}}" ui-jq="prettyPhoto">
                <div class="doc-top">
                  <p>{{showFileName(document.filename)}}</p>
                </div>
              </a>

              <div class="doc-end clearfix">
                <a title="dialogbox1" class="dialogbox"><img src="images/word_icon.png" class="m3-0"
                                                             ng-if="document.mime_type== 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ">
                  <img src="images/doc-icon.png" class="m3-0" ng-if="document.mime_type=='application/pdf' "></a>

                <p class="f-right">Posted<br>
                  {{document.created }}</p>
              </div>
            </li>
          </ul>
          <p class="classlibraryhd" ng-if="topic.Pictures.length">Pictures</p>
          <ul class="doc-list imglist">
            <li ng-repeat="picture in topic.Pictures">
              <div class="img-wrapper">
                <a ng-click="deletePicture(topic,$index)" class="del-lib"></a>
                <a ng-href="{{picture.file_path}}" ui-jq="prettyPhoto">

                  <img ng-src="{{picture.thumbnail_path}}">

                  <div class="piccaption clearfix">Posted <br>
                    {{picture.created}}
                  </div>
                </a>
              </div>
            </li>
          </ul>
          <p class="classlibraryhd" ng-if="topic.Presentations.length">Presentations</p>
          <ul class="doc-list">
            <li ng-repeat="presentation in topic.Presentations">
              <a ng-click="deletePresentation(topic,$index)" class="del-lib"></a>
              <a ng-href="{{presentation.file_path}}">
                <div class="doc-top">
                  <p>{{showFileName(presentation.filename)}}</p>
                </div>
              </a>

              <div class="doc-end clearfix">
                <img src="images/ppt_icon.png" class="m3-0">

                <p class="f-right">Posted<br>
                  {{presentation.created}}</p>
              </div>
            </li>
          </ul>
          <p class="classlibraryhd" ng-if="topic.Link.length">Links</p>
          <ul class="doc-list link-lst">
            <li ng-repeat="link in topic.Link">
              <a ng-click="deleteLink(topic,$index)" class="del-lib"></a>
              <a ng-href="{{link.linktext}}" target="_blank">
                <div class="doc-top">
                  <p>Go To Link</p>
                </div>
                <div class="doc-end clearfix">
                  <img src="images/link-icon.png" class="m3-0">

                  <p class="f-right">Posted<br>
                    {{link.created}}</p>
                </div>
              </a>
            </li>
          </ul>
          <p class="classlibraryhd" ng-if="topic.Video.length">Video</p>
          <ul class="doc-list imglist">
            <li ng-repeat="video in topic.Video">
              <div class="img-wrapper">
                <a ng-click="deleteVideo(topic,$index)" class="del-lib hand"></a>
                <a ng-href="{{video.linktext}}" ui-jq="prettyPhoto">
                  <img ng-src="{{showThumbnail(video.linktext)}}">

                  <div class="piccaption clearfix">Posted <br>
                    {{video.created}}
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>