<section class="pagesubnav">
  <div class="clearfix">
    <ul class="left-subnav clearfix">
      <li>
        <a ui-sref="app.rooms.discussions.all" ui-sref-active="active">Discussions</a>
      </li>
      <li>
        <a ui-sref="app.rooms.announcements" ui-sref-active="active">Announcements</a>
      </li>
      <li>
        <a ui-sref="app.rooms.library" ui-sref-active="active">Library</a>
      </li>
      <li>
        <a ui-sref="app.rooms.people" ui-sref-active="active">People</a>
      </li>
      <li>
        <a ui-sref="app.rooms.submissions.main" ui-sref-active="active">Submissions</a>
      </li>
    </ul>
    <!--<div class="nav-right">-->
    <!--<a href="#" class="sub-btn" id="dialog-link">Invite</a>-->
    <!--</div>-->
  </div>
</section>
<div ui-view></div>