<section class="pagecontent clearfix">
  <div class="library-wrapper submission">
    <div class="view-head clearfix">
      <a class="new-assign dialogbox hand" tooltip="create-assign" ng-click="createNewAssignment()" ng-if="canCreate">Create
        New
        Assignment</a>
    </div>
    <div class="submit-content">
      <table class="submit-heading">
        <tr>
          <th class="stbl-td1">Submission Name</th>
          <th class="stbl-td2">Due By</th>
          <th class="stbl-td3">Type</th>
          <th class="stbl-td4">Count</th>
          <th class="stbl-td5">Grading Status</th>
        </tr>
        <tr class="blank-td" ng-repeat-start="submission in submissions">
          <td colspan="4"></td>
        </tr>
        <tr ng-class="{'active' :submission.showContent}">
          <td class="stbl-td1">{{submission.Submission.topic}}</td>
          <td class="stbl-td2">{{submission.Submission.due_date | amDateFormat:'MMM.DD.YYYY'}}</td>
          <td class="stbl-td3">{{submission.Submission.type}}</td>
          <td class="stbl-td4">{{submission.Submission.users_submission_count}}/{{studentCount}}</td>
          <td class="stbl-td5">
            <a class="sum-btn hand" ng-class="{'completed' :submission.Submission.status=='Graded'}"
               ng-click="displayContent($index)">{{submission.Submission.status}}</a>
          </td>
        </tr>
        <tr ng-repeat-end ng-class="{'comm-hide' :!submission.showContent}">
          <td colspan="5" class="clearfix">
            <div class="stud-sub-step2">
              <p class="sub-date"><span><span class="sbold-topic">Due by:</span> {{submission.Submission.due_date |
                amDateFormat:'DD.MM.YY , HH:MM'}}hrs</span>
                <span class="pull-right" ng-if="submission.Submission.status!=='Graded'">
                  <span class="sbold-topic">Grading Type:</span> {{submission.Submission.subjective_scoring}}</span>
                <span class="pull-right" ng-if="submission.Submission.status=='Graded' && submission.Submission.marks">
                  <span class="sbold-topic">Your Score:</span> {{submission.UsersSubmission.marks}}</span>
                <span class="pull-right" ng-if="submission.Submission.status=='Graded' && submission.Submission.grade">
                  <span class="sbold-topic">Your Score:</span> {{submission.UsersSubmission.grade}}</span>
              </p>

              <p class="sub-txt">{{submission.Submission.description}}</p>

              <div class="clearfix">
                <div class="f-left">
                  <div class="att-doc hand" ng-if="submission.Pyoopilfile.filename"><a
                      ng-if="!checkIfPic(submission.Pyoopilfile.mime_type)"
                      ng-click="openDocViewerDialog(submission.Pyoopilfile.file_path)"
                      class="dlfile"><img ng-src="{{docIcon(submission.Pyoopilfile.mime_type)}}" class="stud-att"
                                          alt="img">{{submission.Pyoopilfile.filename}}.{{submission.Pyoopilfile.filesize | bytes}}</a>
                    <a ng-href="{{submission.Pyoopilfile.file_path}}"
                       ng-if="checkIfPic(submission.Pyoopilfile.mime_type)"
                       class="dlfile" ui-jq="prettyPhoto">{{submission.Pyoopilfile.filename}}.{{submission.Pyoopilfile.filesize | bytes}}</a>
                  </div>
                </div>
                <a href="" class="follow active f-right open-answer"
                   ng-if="!submission.Submission.is_submitted" ng-click="vm.addAnswer=!vm.addAnswer">Submit Your
                  Answer</a>
                <a href="" class="follow active f-right open-answer"
                   ng-if="submission.Submission.is_submitted">View Your
                  Answer</a>

                <div class="clear"></div>
                <div class="clearfix submit-answer" ng-class="{'hide-block' :!vm.addAnswer}">
                  <div class="stud-name">
                    <a href=""><img ng-src="{{profile_img}}" class="sub-stud-img" alt="img"></a>
                    <a href="">
                      <p class="stud-name">{{fullName}}</p>
                    </a>
                  </div>
                  <div class="sub-txtarea-div">
                    <textarea class="comment-txtarea" placeholder="Add comment here…"></textarea>
                  </div>
                  <div class="f-left msg-popup">
                    <div class="attachmentbox">
                          <span class="btn btn-success fileinput-button changepicsbtn attach-mail">
                          <span class="att-txt">Attach files <span class="att-size">(Max 100 mb)</span></span>
                          <input id="fileupload" type="file" name="files[]">
                          </span>

                      <div id="files" class="files"></div>
                    </div>
                  </div>
                  <div class="f-right">
                    <a href="" class="follow active ">Submit</a>
                    <a href="" class="follow open-answer">Cancel</a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>