<section class="pagecontent clearfix">
  <div class="library-wrapper submission">
    <div class="view-head clearfix">
      <a class="new-assign dialogbox hand" tooltip="create-assign" ng-click="createNewAssignment()">Create New Assignment</a>
    </div>
    <div class="submit-content">
      <table class="submit-heading">
        <tr>
          <th class="stbl-td1">Submission Name</th>
          <th class="stbl-td2">Due By</th>
          <th class="stbl-td3">Status</th>
          <th class="stbl-td4">Count</th>
          <th class="stbl-td5">Grading Status</th>
        </tr>
        <tr class="blank-td">
          <td colspan="4"></td>
        </tr>
        <tr>
          <td class="stbl-td1"><span class="pending-icon"></span>Name of the submission</td>
          <td class="stbl-td2"> Feb.20.2014</td>
          <td class="stbl-td3">In progress</td>
          <td class="stbl-td4">23/30</td>
          <td class="stbl-td5"><a href="classroom-inside-submission.htm" class="sum-btn">Pending</a>
          </td>
        </tr>
        <tr class="blank-td">
          <td colspan="4"></td>
        </tr>
        <tr>
          <td class="stbl-td1"><span class="pending-icon"></span>Name of the submission</td>
          <td class="stbl-td2"> Feb.20.2014</td>
          <td class="stbl-td3">In progress</td>
          <td class="stbl-td4">23/30</td>
          <td class="stbl-td5"><a href="classroom-inside-submission.htm" class="sum-btn">Not Allowed</a>
          </td>
        </tr>
        <tr class="blank-td">
          <td colspan="4"></td>
        </tr>
        <tr>
          <td class="stbl-td1"><span class="complt-icon"></span>Name of the submission</td>
          <td class="stbl-td2"> Feb.20.2014</td>
          <td class="stbl-td3">Completed</td>
          <td class="stbl-td4">23/30</td>
          <td class="stbl-td5"><a href="classroom-inside-submission.htm" class="sum-btn completed">Completed</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>