<!-- Learn And Share -->
<div class="section">
    <section class="learnsection box">
        <div class="land-header box">
            <!-- Header -->
            <div class="clearfix">
                <div class="logo"><a href="javascript:void(0)"><img class="f-left" src="images/landing-page/logo.png" alt="Home"></a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="sitewidth">
                <div class="meetlearninner">
                    <h1>Meet.Learn.Share.</h1>
                    <p>Presenting a new way of learning... where you can meet with people,
                        learn and do much more. Come join us...</p>
                </div>
                <div class="signuplogin">
                    <register></register>
                    <login></login>
                </div>
            </div>
        </div>
    </section>
</div>
