<div class="logoutsection clearfix">
    <div class="sitewidth">
        <div class="logoutconform">
            <h2>You are now logged out.</h2>
            <p>Thank you and have a nice day</p>
            <ul>
                <li><a ui-sref="index">Log back in</a></li>
                <li><a ui-sref="index" id="dialog-link">Go to homepage</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Login dialog-->
<div id="dialog" class="signup">
    <div class="pop-wind clearfix">
        <a class="close-link" href="javascript:void(0);"><span class="icon-cross"></span></a>
        <div class="signup-content">
            <p class="signup-heading">Pyoopil Login</p>
            <form action="" method="post">
                <table class="signup-form">
                    <tr>
                        <td>
                            <p class="sign-txt">Username</p>
                            <div class="sign-txtbx">
                                <input type="text" name="" required placeholder="">
                            </div>
                        </td>
                        <td>
                            <p class="sign-txt">Password</p>
                            <div class="sign-txtbx">
                                <input type="password" name="" required placeholder="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="checkbox2" id="checkbox2" class="css-checkbox" />
                            <label for="checkbox2" class="css-label">Stay signed in</label>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="for-pass">Forgot password</a>
                        </td>
                    </tr>
                </table>
                <div class="form-btn clearfix">
                    <div class="submit-btn">
                        <input type="submit" class="sub-btn" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Help US Section -->
<!--<div class="helpussection clearfix">-->
    <!--<div class="sitewidth">-->
        <!--<div class="help-left">-->
            <!--<h2>Help us improve</h2>-->
            <!--<p>Your feedback is important for us.</p>-->
            <!--<p>Please help us improve by providing feedback</p>-->
        <!--</div>-->
        <!--<div class="help-right">-->
            <!--<div class="helptabs tabpages">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a ui-sref="#askdoubts" class="tab">Ask your doubts</a></li>-->
                    <!--<li><a href="#wantnewfeature" class="tab">Want a new feature?</a></li>-->
                    <!--<li><a href="#reportissue" class="tab">Report an issue</a></li>-->
                    <!--<li><a href="#encouragingwords" class="tab">Encouraging words</a></li>-->
                <!--</ul>-->
                <!--<div class="">-->
                    <!--&lt;!&ndash; tab1 &ndash;&gt;-->
                    <!--<div id="askdoubts">-->
                        <!--<div class="commentarea clearfix">-->
                            <!--<div class="commentwrite">-->
                                <!--<textarea placeholder="Type your message here……."></textarea>-->
                            <!--</div>-->
                            <!--<div class="commentsend clearfix">-->
                                <!--<p>(10000 characters)</p>-->
                                <!--<a href="#" class="submit-button">Submit</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->