<header class="landing-page">
    <section class="clearfix header">
        <!-- Logo-->
        <div class="logo"><a href="javascript:void(0)"><img src="images/logo.png" class="f-left" alt="logo"></a>
        </div>
    </section>
</header>
<section class="form-banner">
    <div class="main_container">
        <div class="form-content">
            <p class="form-heading">Passwords can be a pain to remember! But no worries we got your back - You can create a new password by entering a memorable one  below :)</p>
            <table class="signup-form">
                <tr>
                    <td>
                        <p class="sign-txt">Enter Password</p>
                        <input type="password" class="sign-txtbox tooltip-pass"/>
                        <div class="pass-tooltip">
                            <p>Use atleat 8 characters.Don’t use something too obvious</p>
                        </div>
                    </td>
                    <td>
                        <p class="sign-txt">Confirm Password</p>
                        <input type="password" class="sign-txtbox"/>
                    </td>
                </tr>
            </table>
            <div class="form-btn clearfix">
                <button class="next-btn" value="">Next</button>
            </div>
        </div>
    </div>
</section>