<!-- Login Section -->
<div id="signup-popup" class="signup">
  <div class="pop-wind clearfix">
    <div class="signup-content">
      <p class="signup-heading">Pyoopil Login</p>

      <form ng-submit="doLogin()">
        <table class="signup-form">
          <tr>
            <td>
              <p class="sign-txt">Username</p>

              <div class="sign-txtbx">
                <input type="text" name="" ng-model="model.AppUser.email" required placeholder="">
              </div>
            </td>
            <td>
              <p class="sign-txt">Password</p>

              <div class="sign-txtbx">
                <input type="password" name="" ng-model="model.AppUser.password" required placeholder="">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="checkbox2" id="checkbox2" class="css-checkbox"/>
              <label for="checkbox2" class="css-label">Stay signed in</label>
            </td>
            <td>
              <a class="for-pass">Forgot password</a>
            </td>
          </tr>
        </table>
        <div class="form-btn clearfix">
          <div class="submit-btn">
            <input type="submit" class="sub-btn" value="Login">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>