.ngdialog.ngdialog-theme-default .ngdialog-content {
  padding: 0;
  width: 700px;
}

.select2-drop {
  z-index: 99900;
}

.select2-full-width, .select2-container {
  width: 100%;
}

.unfollow-footer {
  background: #ffffff;

}

.unfollow-footer a {
  border-right: 1px solid #7d7d7d;
  display: inline-block;
  padding: 5px 55px;
}

.select-topic .pop-input {
  width: 92%;
  margin-top: 30px;
  display: block;
}

.pop-input {
  height: 38px;
}

.create-popup .chosen-container-single .chosen-single {
  height: 38px;
}

.pop-dura {
  height: 38px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #ff992f;
  border-left-color: #ff992f;
}

#loading-bar .peg {
  -moz-box-shadow: #ff992f 1px 0 6px 1px;
  -ms-box-shadow: #ff992f 1px 0 6px 1px;
  -webkit-box-shadow: #ff992f 1px 0 6px 1px;
  box-shadow: #ff992f 1px 0 6px 1px;
}

#loading-bar .bar {
  background: #ff992f;
}
.pop-close .sub-btn {
  width: 180px;
}