
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/*End of tooltip*/

.ngdialog.ngdialog-theme-default .ngdialog-content {
  padding: 0;
  width: 700px;
}

.select2-drop {
  z-index: 99900;
}

.select2-full-width, .select2-container {
  width: 100%;
}

.unfollow-footer {
  background: #ffffff;

}

.unfollow-footer a {
  border-right: 1px solid #7d7d7d;
  display: inline-block;
  padding: 5px 55px;
}

.select-topic .pop-input {
  width: 92%;
  margin-top: 30px;
  display: block;
}

.pop-input {
  height: 37px;
  width: 254px;
}

.create-popup .chosen-container-single .chosen-single {
  height: 37px;
  width: 254px;
}

.pop-dura {
  height: 37px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #ff992f;
  border-left-color: #ff992f;
}

#loading-bar .peg {
  -moz-box-shadow: #ff992f 1px 0 6px 1px;
  -ms-box-shadow: #ff992f 1px 0 6px 1px;
  -webkit-box-shadow: #ff992f 1px 0 6px 1px;
  box-shadow: #ff992f 1px 0 6px 1px;
}

#loading-bar .bar {
  background: #ff992f;
}

.pop-close .sub-btn {
  width: 180px;
}

.arr-dd {
  display: block;
}

.clk-tt {
  display: block;
}

.main-box {
  display: block;
}

.sign-txtbx input {
  height: 38px;
}

.signup .icon-cross {
  top: 0px;
}

.ng-dirty .ng-invalid {
  border: 1px solid #f67e02;
}

.hand {
  cursor: pointer;
}

.left-pop {
  width: 50%;
}

.calender .pop-dura {
  width: 108%;
}

.right-pop {
  width: 50%;
}

.pop-txtarea {
  width: 254px;
  height: 117px;
}

.create-popup input[type=radio] + .radio-lbl {
  width: 39px;
}

.html_display strong {
  font-weight: bold;
}

.html_display em {
  font-style: italic;
}

.html_display ul li {
  list-style-type: disc;
  list-style-position: inside;
  background: none;
}

.html_display ol li {
  list-style-type: decimal;
  list-style-position: inside;
  background: none;
}

.html_display h1 {
  font-weight: bold;
  font-size: 32px;
}

.html_display h2 {
  font-weight: bold;
  font-size: 24px;
}

.html_display h3 {
  font-weight: bold;
  font-size: 18px;
}

.html_display blockquote {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.html_display img {
  max-width: 600px;
  max-height: 600px;
}

.html_display pre {
  font-family: monospace;
}

.hiring a {
  width: 105px;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -1.6em;
  left: -6%;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-search-choice-close {
  left: inherit;
  right: 2px;
}

.dialogLook {
  width: 800;
}

div.roomTitle {
  position: fixed;
  margin-top: -76px;
  margin-left: 10px;
  z-index: 4;
  font-weight: bold;
  color: black;
  font-size: 17px
}

.arr-dd {
  display: block;
}

.pro-txtarea {
  overflow-y: hidden;
}

.post-edit-pnl {
  display: table
}

.cropArea {
  overflow: hidden;
  width: 700px;
  height: 600px;
}

button.disabled, button[disabled] {
  opacity: 0.4;
  cursor: default !important;
  pointer-events: none;
}

.alignMatchColumns {
  margin-left: 185px;
}

.submit-heading button.sub-btn {
  width: 113px;
  margin: 0px;
}