<div class="take-quiz create-popup">
  <div class="pop-wind clearfix">
    <div class="pop-head clearfix">
      <span class="quiz-hd f-left">{{quizDetails.Submission.topic}}</span>
      <timer interval="1000" countdown="quizDetails.Quiz[0].duration" max-time-unit="hour">
        <div class="pull-right"><img src="images/clock_icon.png" class="time-style"><span>Time Left {{hhours}}:{{mminutes}}:{{sseconds}}</span>
        </div>
      </timer>
    </div>
    <div class="pop-content test-ques">
      <form>
        <div class="quiz-content clearfix">
          <div class="quiz-left tabpages">
            <div class="quiz-lftop">Questions</div>
            <ul class="question-lst quiz-slider">
              <li><a href="" class="tab" ng-repeat="quizQuestion in quizDetails.Quiz[0].Quizquestion"
                     ng-click="showQuestion($index)" ng-class="{'active' :vm.quesIndex==$index}">Q. {{$index+1}}</a>
              </li>
            </ul>
          </div>
          <div class="quiz-right">
            <div class="pacs">
              <div class="question-txt">
                <p class="test-quesnum">Q. {{vm.quesIndex+1}}</p>

                <p class="ques-numtxt">{{quizDetails.Quiz[0].Quizquestion[vm.quesIndex].question}}</p>
              </div>
              <div class="answer-contt ans-scroll"
                   ng-if="quizDetails.Quiz[0].Quizquestion[vm.quesIndex].type=='match-columns'">
                <div class="match-opt">

                  <div class="m-opt1 clearfix"
                       ng-repeat="choice in quizDetails.Quiz[0].Quizquestion[vm.quesIndex].Column" ng-if="$even">
                    <label class="wordwrap"><span class="bold">{{($index/2)+1}}.</span>{{choice.text}}</label>
                    <input class="pop-match" type="text" placeholder=""
                           ng-model="quizDetails.Quiz[0].Quizquestion[vm.quesIndex].matchValues[$index/2]">
                    <label class="wordwrap"><span
                        class="bold">{{vm.array_char[$index/2]}}.</span>{{quizDetails.Quiz[0].Quizquestion[vm.quesIndex].evenArray[$index/2].text}}</label>
                  </div>
                </div>
              </div>
              <div class="answer-contt create-popup"
                   ng-if="quizDetails.Quiz[0].Quizquestion[vm.quesIndex].type=='single-select'">
                <div class="add-ans-single">
                  <div class="ans-lst clearfix"
                       ng-repeat="choice in quizDetails.Quiz[0].Quizquestion[vm.quesIndex].Choice">
                    <label><span class="bold">{{$index+1}}.</span> {{choice.description}}</label>

                    <div class="ans-radio">
                      <input id="ans{{$parent.$index}}{{$index}}" type="radio" name="answer{{$parent.$index}}"
                             value="{{choice.id}}" ng-model="vm.submitQuizAnswer[vm.quesIndex]">
                      <label for="ans{{$parent.$index}}{{$index}}" class="radio-lbl"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="answer-contt create-popup"
                   ng-if="quizDetails.Quiz[0].Quizquestion[vm.quesIndex].type=='multi-select'">
                <div class="add-ans-multiple">
                  <div class="ans-mlst clearfix"
                       ng-repeat="choice in quizDetails.Quiz[0].Quizquestion[vm.quesIndex].Choice">
                    <label><span class="bold">{{$index+1}}.</span> {{choice.description}}</label>

                    <div class="ans-radio">
                      <input id="mul{{$parent.$index}}{{$index}}" type="checkbox" value="true"
                             ng-model="choice.isChecked">
                      <label for="mul{{$parent.$index}}{{$index}}" class="check-lbl"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="answer-contt create-popup"
                   ng-if="quizDetails.Quiz[0].Quizquestion[vm.quesIndex].type=='true-false'">
                <div class="ans-tflst clearfix"
                     ng-repeat="choice in quizDetails.Quiz[0].Quizquestion[vm.quesIndex].Choice">
                  <label>{{choice.description}}</label>

                  <div class="ans-radio">
                    <input id="ans{{$parent.$index}}{{$index}}" type="radio" name="corr-ans{{$parent.$index}}"
                           value="{{choice.id}}"
                           ng-model="vm.submitQuizAnswer[vm.quesIndex]">
                    <label for="ans{{$parent.$index}}{{$index}}" class="radio-lbl"></label>
                  </div>
                </div>
              </div>
              <div class="nav-btns">
                <button class="sub-btn cnl-btn hand" type="button" ng-click="showQuestion(vm.quesIndex-1)"
                        ng-disabled="!vm.quesIndex">Back
                </button>
                <button class="sub-btn pcacs-tabs hand" ng-click="showQuestion(vm.quesIndex+1)"
                        ng-disabled="vm.quesIndex+1==quizDetails.Quiz[0].Quizquestion.length">Next
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="quiz-action"><input class="sub-btn" type="submit" value="Save & Quit" ng-click="answerQuiz()">
        </div>
      </form>
    </div>
  </div>
</div>
