<!-- Main container -->
<div class="main_container">
  <!-- Header Section -->
  <header class="landing-page">
    <section class="clearfix logoutheader">
      <!-- Logo-->
      <div class="logo"><a ui-sref="public" class="hand"><img src="images/logo.png" class="f-left" alt="logo"></a></div>
    </section>
  </header>
</div>

<!-- Logout Conformation -->
<div class="logoutsection clearfix">
  <div class="sitewidth">
    <div class="logoutconform">
      <h2>You are now logged out.</h2>

      <p>Thank you and have a nice day</p>
      <ul>
        <li><a href="" ng-click="openLogin()">Log back in</a></li>
        <li><a ui-sref="public" id="dialog-link">Go to homepage</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Help US Section -->
<div class="helpussection clearfix">
  <div class="sitewidth">
    <div class="help-left">
      <h2>Help us improve</h2>

      <p>Your feedback is important for us.</p>

      <p>Please help us improve by providing feedback</p>
    </div>
    <div class="help-right">
      <div class="helptabs tabpages">
        <ul class="clearfix">
          <li><a href="#askdoubts" class="tab">Ask your doubts</a></li>
          <li><a href="#wantnewfeature" class="tab">Want a new feature?</a></li>
          <li><a href="#reportissue" class="tab">Report an issue</a></li>
          <li><a href="#encouragingwords" class="tab">Encouraging words</a></li>
        </ul>
        <div class="">
          <!-- tab1 -->
          <div id="askdoubts">
            <div class="commentarea clearfix">
              <div class="commentwrite">
                <textarea placeholder="Type your message here……."></textarea>
              </div>
              <div class="commentsend clearfix">
                <p>(10000 characters)</p>
                <a href="#" class="submit-button">Submit</a>
              </div>
            </div>
          </div>
          <!--&lt;!&ndash; tab2 &ndash;&gt;-->
          <!--<div id="wantnewfeature">-->
          <!--<div class="commentarea clearfix">-->
          <!--<div class="commentwrite">-->
          <!--<textarea placeholder="Type your New Feature here……."></textarea>-->
          <!--</div>-->
          <!--<div class="commentsend clearfix">-->
          <!--<p>(10000 characters)</p>-->
          <!--<a href="#" class="submit-button">Submit</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; tab3 &ndash;&gt;-->
          <!--<div id="reportissue">-->
          <!--<div class="commentarea clearfix">-->
          <!--<div class="commentwrite">-->
          <!--<textarea placeholder="Report an issue here……."></textarea>-->
          <!--</div>-->
          <!--<div class="commentsend clearfix">-->
          <!--<p>(10000 characters)</p>-->
          <!--<a href="#" class="submit-button">Submit</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; tab4 &ndash;&gt;-->
          <!--<div id="encouragingwords">-->
          <!--<div class="commentarea clearfix">-->
          <!--<div class="commentwrite">-->
          <!--<textarea placeholder="Give us your Encouragement……."></textarea>-->
          <!--</div>-->
          <!--<div class="commentsend clearfix">-->
          <!--<p>(10000 characters)</p>-->
          <!--<a href="#" class="submit-button">Submit</a>-->
          <!--</div>-->
          <!--</div>-->

          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer -->
<section class="footersection clearfix">
  <div class="sitewidth clearfix">

    <div class="clearfix footerbtm">
      <div class="coprgts">
        <p>PYOOPIL EDUCATION TECHNOLOGIES PRIVATE LIMITED 2014 | COPYRIGHT ALL RIGHTS RESERVED.</p>
      </div>
      <div class="footerlinks">
        <div class="social clearfix">
          <ul>
            <li><a href="" class="fb">facebook</a></li>
            <!--<li><a href="#" class="linkedin">Linkedin</a></li>-->
            <li><a href="" class="twitter">twitter</a></li>
            <!--<li><a href="#" class="gplus">googleplus</a></li>-->
            <!--<li><a href="#" class="youtube">youtube</a></li>-->
          </ul>
        </div>
        <ul>
          <li><a ng-click="goToHome('/')" class="hand">What is Pyoopil</a></li>
          <li><a ng-click="goToHome('showcase')" class="hand">What we do for you</a></li>
          <li><a ng-click="goToHome('testimonials')" class="hand">Features</a></li>
          <li><a ng-click="go('/')" class="hand">Why Pyoopil</a></li>
          <li><a ng-click="go('/')" class="hand">Our Team</a></li>
          <li><a ng-click="go('/')" class="hand">What's Next</a></li>
          <li><a ng-click="go('/')" class="hand">Terms & conditions</a></li>
        </ul>
      </div>
      <div class="hiring">
        <a href="">We are Hiring!!!</a>
      </div>
    </div>

  </div>
</section>
