<div class="search" ng-controller="topRightHeaderCtrl">
  <!--<div class="uni-search clearfix">-->
  <!--<a href="" class="search-bx"></a>-->
  <!--<input type="text" placeholder="Search.." class="uni-searchinput">-->
  <!--</div>-->
  <!-- Top Notification -->
  <div class="right-slide">
    <div class="toprightsection tabpages">
      <ul>
        <!--<li><a href="" class="calenderdescrip tab">-->
        <!--<div class="top-icon cal"></div>-->
        <!--<span class="noti-num">5</span></a>-->
        <!--</li>-->
        <!--<li><a href="" class="msgdescrip tab" ng-hide="true">-->
        <!--<div class="top-icon chat"></div>-->
        <!--<span class="noti-num">5</span></a>-->
        <!--</li>-->

        <li><a ng-click="getInitialNotifications()" class="tab">
          <div class="top-icon noti" ng-class="{'active' :vm.showNotificationPanel}"></div>
          <span class="noti-num"
                ng-if="vm.unreadNotificationsCount.$value">{{vm.unreadNotificationsCount.$value}}</span></a>
        </li>
        <li style="width:170px">&nbsp;</li>
        <!--<li><a href="" class="tab">-->
        <!--<div class="top-icon msg"></div>-->
        <!--<span class="noti-num">4</span></a>-->
        <!--</li>-->
        <li class="dock-bk lastli hand" ng-if="vm.showNotificationPanel"><a ng-click="vm.showNotificationPanel=false"
                                                                            class="active tab"><img
            src="images/arrow_back.png"
            class="mt5" alt=""></a>
        </li>
      </ul>

      <!-- Notification Right Window -->
      <div class="notification_details" ng-if="vm.showNotificationPanel">
        <!--<div id="tab1">-->
        <!--<p>Calender Panel</p>-->
        <!--</div>-->
        <!--<div id="tab2">-->
        <!--<p>Chat Panel</p>-->
        <!--</div>-->
        <div>
          <p class="noti-title">Notifications</p>
          <!--initialising jquery function slimScroll-->
          <div class="noti-lst noti-scroll"
               ui-jq="slimScroll"
               ui-options="{height: msg+'px' ,color:'#575757'}">
            <ul>
              <li ng-class="{'unread-noti' :!notification.is_clicked}"
                  ng-repeat="notification in vm.initialNotifications">
                <a ng-href="{{vm.url}}/{{notification.link}}" ng-click="openNotification($index)"
                   class="noti-block">
                  <p class="fullnoti-date">{{notification.created | amDateFormat :'DD/MM/YYYY hh:mma'}}</p>

                  <p class="noti-txt" ng-bind-html="notification.title | unsafe"></p></a>
              </li>
            </ul>

          </div>
          <div class="viewall">
            <a ui-sref="app.notifications" ng-click="vm.showNotificationPanel=false" class="noti-viewall">View all</a>
          </div>
        </div>
        <!--<div id="tab4">-->
        <!--<p>Message Panel</p>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>