<div class="create-popup">
  <div class="pop-wind clearfix">
    <div class="pop-head clearfix">
      <span>Email ID changed</span>
      <a  class="close-link cnl-edit hand"><span class="icon-cross" ng-click="closeThisDialog()">
                                                    </span></a>
    </div>
    <div class="pop-content clearfix">
      <p class="acc-poptxt">Please activate the alternate Email ID to replace the current one.
        You will be logged of this session once you activate.</p>

      <div class="submit-btn">
        <input type="submit" class="sub-btn close-link hand" value="Close" ng-click="closeThisDialog()">
      </div>
    </div>
  </div>
</div>