<section class="pagecontent clearfix">
  <div class="library-wrapper create-assign">
    <p class="feedback-title">Your feedback is important for us. Please help us improve by providing feedback</p>
    <div class="tabpages feedback">
      <ul class="upload-tab">
        <li><a href="" class="tab active">Ask your doubts</a>
        </li>
        <li><a href="" class="tab">Want a new feature?</a>
        </li>
        <li><a href="" class="tab">Report an issue</a>
        </li>
        <li><a href="" class="tab">Encouraging words</a>
        </li>
      </ul>
      <div id="feed1" class="tab-contt">
        <p class="feed-title">Short message to explain this comes here…</p>
        <span class="txt-count">(<span id="rem_count1">1000</span>/1000 characters left)</span>
        <textarea class="txt-area count-1" placeholder="Type your question here…" ></textarea>
        <input type="submit" class="sub-btn f-right" value="Submit">
      </div>
      <div id="feed2" class="tab-contt">
        <p class="feed-title">Short message to explain this comes here…</p>
        <span class="txt-count">(<span id="rem_count2">1000</span>/1000 characters left)</span>
        <textarea class="txt-area count-2" placeholder="Type your features here…" ></textarea>
        <input type="submit" class="sub-btn f-right" value="Submit">
      </div>
      <div id="feed3" class="tab-contt">
        <p class="feed-title">Short message to explain this comes here…</p>
        <select class="chosen-select">
          <option>Issue 1</option>
          <option>Issue 2</option>
          <option>Issue 3</option>
          <option>Issue 4</option>
        </select>
        <span class="txt-count">(<span id="rem_count3">1000</span>/1000 characters left)</span>
        <textarea class="txt-area count-3" placeholder="Report your issue here…" ></textarea>
        <input type="submit" class="sub-btn f-right" value="Submit">
      </div>
      <div id="feed4" class="tab-contt">
        <p class="feed-title">Short message to explain this comes here…</p>
        <span class="txt-count">(<span id="rem_count4">1000</span>/1000 characters left)</span>
        <textarea class="txt-area count-4" placeholder="Type your text here…" ></textarea>
        <input type="submit" class="sub-btn f-right" value="Submit">
      </div>
    </div>
  </div>
</section>
</section>