<section class="pagecontent clearfix">
  <div class="content-wrapper">
    <div class="profile-contt">
      <div class="pro-complete">
        <p class="pro-status">Your Profile completion 80% </p>

        <div id="progressbar"></div>
      </div>
      <div class="myprofile clearfix">
        <div class="myprofile-left">
          <a href=""><img src="images/chat1.jpg" class="pro-img"></a>

          <p class="pro-name"><a href="javascript:void(0)">{{fullName}}</a>
          </p>

          <p class="pro-detail">Female, 26</p>

          <p class="pro-detail">New Delhi, India</p>

          <div class="pro-social">
            <ul>
              <li><a href="" class="pro-icon fbp"></a>
              </li>
              <li><a href="" class="pro-icon twt"></a>
              </li>
              <li><a href="" class="pro-icon ln"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="myprofile-right">
          <div class="pro-follow">
            <ul>
              <li><a href="javascript:void(0)" title="dialogbox1" class="dialogbox">
                <p class="fol-num">315</p>

                <p>Follower</p>
              </a>
              </li>
              <li><a href="javascript:void(0)" title="dialogbox1" class="dialogbox">
                <p class="fol-num">508</p>

                <p>Following</p>
              </a>
              </li>
            </ul>
          </div>
          <div class="profile-detail">
            <table>
              <tr>
                <td class="pro-td1"><img src="images/myaccount/mail.png" alt="img"></td>
                <td class="pro-td2">
                  <input type="text" class="pro-input" value="supriya.sachdev@gmail.com" disabled>
                </td>
              </tr>
              <tr>
                <td class="pro-td1"><img src="images/myaccount/phone.png" alt="img"></td>
                <td class="pro-td2">
                  <input type="text" class="pro-input" value="+9845246350" disabled>
                </td>
              </tr>
              <tr>
                <td class="pro-td1"><img src="images/myaccount/institute.png" alt="img"></td>
                <td class="pro-td2">
                  <input type="text" class="pro-input" value="Student at Sikkim Manipal University" disabled>
                </td>
              </tr>
              <tr>
                <td class="pro-td1"><img src="images/myaccount/location.png" alt="img"></td>
                <td class="pro-td2">
                  <textarea class="pro-txtarea" disabled>H.No.3, second floor, Mayur Vihar Ph-2,New Delhi-110021,
                    India</textarea>
                </td>
              </tr>
              <tr>
                <td class="pro-td1"><img src="images/myaccount/link.png" alt="img"></td>
                <td class="pro-td2">
                  <textarea class="pro-txtarea" disabled>www.linkedin.com/profile/view?id=172838163&trk=navresponsive_tab_profile</textarea>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Praise people Dialog-->

</section>