<div ng-repeat="classroom in ngModel"><a
    ui-sref="app.announcements({ roomId:{{classroom.Classroom.id}} })">
  <div class="classouter">
    <div class="doc-list">
      <div class="doc-top">
        <p class="subject">{{classroom.Classroom.title}} <br>
          {{classroom.Classroom.id}}</p>
        <span>by</span>
        <span>{{classroom.Classroom.Educator}}</span>
        <span class="totalstudent">({{classroom.Classroom.users_classroom_count}} Students)</span>
      </div>
    </div>
  </div>
</a>
</div>
